* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.header,.footer>h1 {
    text-align: center;
    padding: 20px;
    color: white;
    background-image: linear-gradient(#000881,#000000);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

#TitleLuasSegitiga,#TitleKelilingSegitiga {
    text-align: center;
    padding: 20px;
    color: white;
    background-image: linear-gradient(#E30000,#000000);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 40px;
}

#deskripsi,#hasilLuas,#HasilKeliling {
    margin-left: 30px;
    margin-bottom: 30px;
}

#HasilLuas {
    display: none;
}

#HasilKeliling {
    display: none;
}

#gambar {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
}

#center,#HitungLuasSegitiga,#HitungKelilingSegitiga {
    text-align: center;
    padding: 20px;
}

input[type="number"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input::placeholder {
    color: #999;
    text-shadow: 1px 1px 2px #ccc;
}

#ButtonHitung {
    text-align: center;
    background-color: #2880b9;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#ButtonHitung:hover {
    background-color: #123b56;
}

#ButtonReset {
    text-align: center;
    background-color: #efad4e;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#ButtonReset:hover {
    background-color: #a4752f;
}

#ButtonPindah {
    text-align: center;
    background-color: #0aff01;
    display: inline-block;
    padding: 10px 20px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#ButtonPindah:hover {
    background-color: #058300;
}